<% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <%= form_with model: @trip do |f| %>
    <p>Please enter the following information for a trip:</p>
    <div class="row">
      <div class="col-25">
        <%= f.label :date %>
      </div>
      <div class="col-75">
        <input type="date" id="start" name="trip-start">
      </div>
      <div class="col-25">
        <%= f.label :driver_id%>
      </div>
      <div class="col-75">
        <%= f.text_field :driver_id %>
      </div>
      <div class="col-25">
        <%= f.label :passenger_id %>
      </div>
      <div class="col-75">
        <%= f.text_field :passenger_id %>
      </div>
      <div class="col-25">
        <%= f.label :price %>
      </div>
      <div class="col-75">
        <%= f.text_field :cost%>
      </div>
      <div class="col-25">
        <%= f.label :rating%>
      </div>
      <div class="col-75">
        <%= f.text_field :rating %>
      </div>
      <div class="submit">
        <%= f.submit action_name %>
      </div>
  <% end %>
  </div>
</div>
  <%= link_to "Return to trips list", passengers_path %>