<% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

  <%= form_with model: @trip do |f| %>
  <div class="container">
    <p>Please provide the information for a trip:</p>

    <div class="row">
      <div class="col-25">
        <%= f.label :date %>
      </div>
      <div class="col-75">
        <input type="date" id="start" name="trip-start">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        Driver
      </div>
      <div class="col-75">
    <%= @trip.driver.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        Passenger
      </div>
      <div class="col-75">
    <%= @trip.passenger.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <%= f.label :price %>
      </div>
      <div class="col-75">
        <%= f.text_field :cost%>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <%= f.label :rating%>
      </div>
      <div class="col-75">
        <%= f.text_field :rating %>
      </div>
    </div>
    <div class="row">
      <div class="submit">
        <%= f.submit action_name %>
      </div>
    </div>
  </div>
  <% end %>
<%= link_to "Return to trips list", passengers_path, class:"return"%>
</div>
