<div class="create-page-flex">

  <div>
    <% if @trip.errors.any? %>
      <ul class="errors">
        <% @trip.errors.each do |column, message| %>
          <li>
            <strong><%= column.capitalize %></strong> <%= message %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

    <%= form_with model: @trip, class: 'create_trip' do |t| %>

      <dl>
        <dt><%= t.label :Driver_ID %></dt>
        <dd><%= t.text_field :driver_id %></dd>
        <dt><%= t.label :Passenger_ID %></dt>
        <dd><%= t.text_field :passenger_id %></dd>
        <dt><%= t.label :date %></dt>
        <dd><%= t.text_field :date %></dd>
        <dt><%= t.label :rating %></dt>
        <dd><%= t.text_field :rating %></dd>
        <dt><%= t.label :cost %></dt>
        <dd><%= t.text_field :cost %></dd>

        <%= t.submit "Create #{action_name} Trip", class: "submit_button" %>
      </dl>
    <% end %>

  <div> </div>

</div>




