<p><%= link_to "Home", root_path %></p>
<p><%= link_to "Drivers List", drivers_path %></p>
<p><%= link_to "Passengers List", passengers_path %></p>
<p><%= link_to "Trips List", trips_path %></p>
<p><%= link_to "Sign Up Driver", new_driver_path %></p>
<p><%= link_to "Sign Up Passenger", new_passenger_path %></p>

<h2>Edit Trip</h2>
<%= form_with model: @trip, class: 'create-trip' do |f|%>
  <p>Please provide the following information to edit trip information in our database:</p>
  <%= f.label :driver_id %>
  <%= f.select :driver_id, Driver.where(:available => true).map { |driver| driver.name} %>
  <%= f.label :passenger_id %>
  <%= f.select :passenger_id, Passenger.all.map{ |passenger| passenger.name } %>
  <%= f.label :date %>
  <%= f.date_field :date, :value => Date.today %>
  <%= f.label :rating %>
  <%= f.select :rating, [1, 2, 3, 4, 5] %>
  <%= f.label :cost %>
  <%= f.text_field :cost_in_dollars%>
  <%= f.submit "Edit Trip", class: "Trip-button" %>
<% end %>