<%= form_with model: @trips, class: 'rate-trip' do |f| %>
  <p>Please provide the following information to edit your task:</p>
  <%= f.label :rating %>
  <%= f.text_field :rating %>

  <%= f.submit "#{action_name}", class: "Rate-Me-Button" %>
<% end %>
<%= link_to "Back", passenger_trips_path(@passengers.id) %>
<%=link_to "Homepage", homepages_path %> |
<%= link_to "Rider List", passengers_path %> |
<%= link_to "Driver List", drivers_path %> |
