<%= form_with model: @trip, class: "edit-trip" do |f| %>
  <p>Please provide the following information to edit your trip in our database:</p>

  <% if @trip.errors.any? %>
    <ul class="errors">
      <% @trip.errors.each do |column, message| %>
        <li>
          <strong><%= column.capitalize %></strong> <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>

<div>
  <%= f.label :rating %>
  <%= f.text_field :rating %> 
</div>


<div>
  <%= f.submit "Rate Trip", class: "edit-button", method: :patch %>
  <% end %>
</div>