<h2>Edit Driver</h2>

<% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<!--put driver and passenger name-->
<div class="edit-trip">
  <%= form_for @trip do |f| %>
    <%= f.label :name%>
    <br>
    <%= f.text_field :name %>
    <br>
    <%= f.label :vin %>
    <br>
    <%= f.text_area :vin %>
    <br>

    <%= f.submit %>
  <% end %>
</div>