<nav xmlns="http://www.w3.org/1999/html">
  <ul>
    <li><button class="show"><a href="<%= new_driver_path %>">Add a driver</a></button></li>
    <li><button class="show"><a href="<%= new_passenger_path %>">Add a passenger</a></button></li>
  </ul>
</nav>

<h3>Trips List</h3>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<table>
  <thead>
    <th>Date</th>
    <th>Driver ID</th>
    <th>Passenger ID</th>
    <th>Price</th>
    <th>Rating</th>
  </thead>
  <tbody>
  <% @trips.each do |trip|  %>
    <tr>
      <td><%= link_to trip.date, trip_path(trip) %></td>
      <td><%= link_to trip.driver_id, trip_path(trip) %></td>
      <td><%= link_to trip.passenger_id, trip_path(trip) %></td>
      <td><%= link_to trip.cost, trip_path(trip) %></td>
      <td><%= link_to trip.rating, trip_path(trip) %></td>
      <td><%= link_to "Delete", trip_path(trip.id), method: :delete, data: { confirm: "Please confirm deletion." } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%#= link_to "Add Book", new_trip_path %>