<h1>TRIPS</h1>

<table style="width:50%">
  <tr>
    <th>Trip ID</th>
    <th>Passenger ID</th>
    <th>Driver ID</th>
    <th>Date</th>
    <th>Rating</th>
    <th>Cost</th>

  </tr>
  <% @trips.each do |trip| %>
    <tr>
      <td><%= link_to "#{trip.id}", trip_path(trip) %> </td>
      <td><%= link_to "#{trip.passenger_id}", passenger_path(trip.passenger_id) %> </td>
      <td><%= link_to "#{trip.driver_id}", driver_path(trip.driver_id) %> </td>
      <td><%= "#{trip.date}" %> </td>
      <td><%= "#{trip.rating}" %> </td>
      <td><%= "#{trip.cost}" %> </td>
      <td class="no_border"><%= button_to "Edit", edit_trip_path(trip.id), method: :get%> </td>
    </tr>

    <% end %>
</table>

