<h1>Trip List</h1>

<nav>
  <%=link_to "Homepage", homepages_path %> |
  <%= link_to "Rider List", passengers_path %> |
  <%= link_to "Driver List", drivers_path %> |

</nav>

<div>
  <p> Total Cost: <%=@total_cost %></p>
    <ul>
      <% @trips.each do |trip| %>
      <li>
        <p> Passenger Name: <%=trip.passenger.name %></p>
        <p> Passenger ID: <%=trip.passenger.id %></p>

        <%#link_to trip.date, trip_path(trip.id) %>
      </li>
      <% end %>
    </ul>
</div>

<nav>
  <%=link_to "Homepage", homepages_path %> |
  <%= link_to "Rider List", passengers_path %> |
  <%= link_to "Driver List", drivers_path %> |
</nav>






