<h1>Trips#index</h1>
<p>Find me in app/views/trips/index.html.erb</p>
<ul>
  <% @trips.each do |trip|  %>
    <li>
      <%= trip[:id] %>  <%= trip[:driver_id] %>  <%= trip[:passenger_id] %>
       <%= trip[:date] %>  <%= trip[:rating] %>  <%= trip[:cost] %>
    </li>
  <% end %>
</ul>