<h1> Trip Details </h1>

<nav>
<%=link_to "Homepage", homepages_path %> |
<%=link_to "Edit trip details", edit_trip_path(@trip.id) %>
<%= link_to "Add a New Driver", new_driver_path%>
<%= link_to "Add a New Rider", new_passenger_path%>
</nav>

<ul>
  <li> ID: <%= @trip.id %></li>
  <li> Date: <%= link_to @trip.driver.name, driver_path(@trip.driver) %></li>
  <li> Passenger: <%= link_to @trip.passenger.name, passenger_path(@trip.passenger) %></li>
  <li> Cost: <%= @trips.cost/100 %></li>
  <li> Rating: <%= @trips.rating%></li>
</ul>
<!--Want to create loop that pulls  trip details  -->
<nav>
  <%=link_to "Homepage", homepages_path %> |
  <%=link_to "Edit trip details", edit_trip_path(@trip.id) %>
  <%= link_to "Add a New Driver", new_driver_path%>
  <%= link_to "Add a New Rider", new_passenger_path%>
</nav>

