<h4>Date: <%= @trip.date %></h4>
<h4>Cost: $<%= @trip.cost / 100 %></h4> <%# sprintf to round to two deciaml places %>

<% if @trip.rating.nil? == false %>
  <h4>Rating: <%= @trip.rating %></h4>
<% else %>
  <h4>This trip has not been rated yet, would you like to add one?</h4>
  <%# form_for @trip do |f| %>
    <%# f.text_field :rating %>
    <%# f.select :rating, [[1],[2],['Cold', 'cold']] %>
    <%# f.submit %>
  <%# end %>
<% end %>

<h4>Driver: <%= @trip.driver.name %></h4>
<h4>Passenger: <%= @trip.passenger.name %></h4>
