<h1>TRIP INFORMATION</h1>

<ul>
  <li>ID: <%= @trip.id %> </li>
  <li>PASSENGER ID: <%= @trip.passenger_id %> </li>
  <li>DRIVER ID: <%= @trip.driver_id %> </li>
  <li>DATE: <%= @trip.date %> </li>
  <li>RATING: <%= @trip.rating %> </li>
  <li>COST: <%= @trip.cost %> </li>
</ul>
