<h3>Trip Details</h3>
<br>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Trip ID</th>
    <th>Rating</th>
    <th>Cost</th>
    <th>Date</th>
    <th>Passenger Name</th>
    <th>Passenger ID</th>
    <th>Driver Name</th>
    <th>Driver ID</th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @trip.id %></td>
      <td>
        <% if @trip.rating.nil? %>

          <%= form_with model: @trip do |f| %>
            <%= f.select :rating, options_for_select([1, 2, 3, 4, 5]) %>
            <%= f.submit "Set rating" %>
          <% end %>

        <% else %>
          <%= @trip.rating %>
        <% end %>
      </td>
      <td><%= @trip.cost %></td>
      <td><%= @trip.date %></td>
      <td><%= link_to @trip.passenger.nil? ? "" : "#{Passenger.find_by(id: @trip.passenger_id).name}", passenger_path(@trip.passenger_id) %></td>
      <td><%= link_to @trip.passenger_id, passenger_path(@trip.passenger_id) %></td>
      <td><%= link_to @trip.driver.nil? ? "" : "#{Driver.find_by(id: @trip.driver_id).name}", driver_path(@trip.driver_id) %></td>
      <td><%= link_to @trip.driver_id, driver_path(@trip.driver_id) %></td>

    </tr>
  </tbody>
</table>

<br>

<%= button_to "Edit trip", edit_trip_path(@trip.id), method: :get %>
<%= button_to "Delete trip", trip_path(@trip.id), method: :delete, data: {confirm: "Are you sure you want to delete this trip?" }%>