<h1>Trip Details</h1>

<ul>
  <li>Trip ID: <%= @trip.id %></li>
  <li>Date: <%= @trip.date %></li>
  <li>Rating: <%= @trip.rating %></li>
  <li>Cost: $ <%= ((@trip.cost) / 100.0).round(2) %></li>
  <li>Driver: <%= link_to @trip.driver.name, driver_path(@trip.driver_id) %></li>
  <!-- TODO: currently, the link in "passenger" doesn't work - should work after merge with passenger_branch? -->
  <li>Passenger: <%= link_to @trip.passenger.name, passenger_path(@trip.passenger_id) %></li>
</ul>

<p><%= button_to "Edit This Trip", edit_trip_path(@trip), method: :get %></p>
<p><%= button_to "Delete This Trip", trip_path(@trip), method: :delete, data: { confirm: "Are you sure you want to delete this trip?" } %></p>