<section class="passenger-section" >
  <h2>Trip #<%= @trip.id %>
    <%= link_to "Edit", edit_trip_path(@trip), class: "edit-delete-link" %>
    <%= link_to "Delete", trip_path(@trip), method: :delete, data: {confirm: "Are you sure?"}, class: "edit-delete-link" %>
  </h2>
  <p></p>
</section>

<table class="trips-border">
  <thead>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Passenger</th>
    <th>Driver</th>
    <th>Price</th>
    <th>Rating</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @trip.id%></td>
    <td><%= @trip.date.strftime("%m/%d/%Y") %></td>
    <td><%= link_to @trip.passenger.name, passenger_path(@trip.passenger) %></td>
    <td><%= link_to @trip.driver.name, driver_path(@trip.driver) %></td>
    <td><%= number_to_currency(@trip.cost) %></td>
    <td>
      <% if @trip.rating.nil? %>
        <!--  <p>Rating: <%#= link_to "rate the trip", edit_trip_path(@trip) %></p>-->
        <%= form_with model: @trip do |f| %>
          <%#= f.label :rating %>
          <%= f.select :rating, [1,2,3,4,5]%>

          <%= f.submit "Rate to Complete Trip" %>
        <% end %>
      <% else %>
        <%= @trip.rating %>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>
