<div class="scroll-top"></div>

<h2 class="details-header">DETAILS - TRIP <%= @trip.id %></h2>

<div class="detail-layout", id="trips-height">

  <div class="details", id="trip-details">

    <ul>
      <li>
        <span class="detail-header">TRIP ID: </span><%= @trip.id %> </br>
        <% if  Passenger.find_by(id: @trip.passenger_id) == nil %>
          <span class="detail-header">PASSENGER: DELETED PASSENGER</span></br>
        <% else %>
          <span class="detail-header">PASSENGER: </span><%= link_to (Passenger.find_by(id: @trip.passenger_id)).name, passenger_path(Passenger.find_by(id: @trip.passenger_id)), class: 'table-link' %> </br>
        <% end %>

        <% if Driver.find_by(id: @trip.driver_id) == nil %>
          <span class="detail-header">DRIVER: DELETED DRIVER</span></br>
        <% else %>
          <span class="detail-header">DRIVER: </span><%= link_to (Driver.find_by(id: @trip.driver_id)).name, driver_path(Driver.find_by(id: @trip.driver_id)), class: 'table-link' %> </br>
        <% end %>
        <span class="detail-header">DATE: </span><%= @trip.date %> </br>
        <span class="detail-header">RATING: </span><%= @trip.rating %> </br>
      </li>
    </ul>
  </div>

  <div class="edit-delete", id="trip-edit">
      <div> <%= link_to "EDIT RATING", edit_trip_path(@trip.id)%></div>
      <div> <%= link_to "DELETE TRIP ", trip_path(@trip.id), method: :delete, data: {confirm: "Are you sure you want to delete this trip?"}%> </div>
  </div>
</div>

<div class="bottom-border"></div>

