<h2>Trip Details</h2>

<p>Trip #<%= @trip.id %></p>

<table>
  <tr>
    <th>Date</th>
    <th>Driver</th>
    <th>Passenger</th>
    <th>Cost</th>
    <th>Rating</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td><%= @trip.date %></td>
    <% if @trip.driver.nil? %>
      <td>DELETED</td>
    <% else %>
      <td><%= link_to "#{@trip.driver.name}", driver_path(@trip.driver.id) %></td>
    <% end %>
    <% if @trip.passenger.nil? %>
      <td>DELETED</td>
    <% else %>
      <td><%= link_to "#{@trip.passenger.name}", passenger_path(@trip.passenger.id) %></td>
    <% end %>
    <td><%= @trip.cost %></td>
    <% if @trip.rating.nil? %>
      <td><%= link_to "Edit Rating", edit_trip_path(@trip.id) %></td>
    <% else %>
      <td><%= link_to "#{@trip.rating}", edit_trip_path(@trip.id) %></td>
    <% end %>
    <td><%= link_to "Delete trip", trip_path(@trip.id), method: :delete, data: {confirm: "Are you sure?"} %></td>
  </tr>
</table>