<header>
  <h1>Trip Details</h1>
</header>
<main>
  <p>Data: <%= @trip.date %></p>
  <p>Trip ID: <%= @trip.id %></p>
  <% if @trip.passenger %>
    <p>Passenger: <%= link_to @trip.passenger.name, passenger_path(@trip.passenger_id) %> </p>
  <% else %>
    <p>Passenger Not Available</p>
  <% end %>
  <% if @trip.driver %>
    <p>Driver: <%= link_to @trip.driver.name, driver_path(@trip.driver_id) %></p>
  <% else %>
    <p>Driver Not Available</p>
  <% end %>
  <p>Cost: <%= @trip.cost %></p>
  <% if @trip.rating.nil? %>
    <%= form_with model: @trip do |f| %>
      <%= f.label :rating%>:
        <%= f.label "1"%>
        <%= f.radio_button :rating, 1 %>
        <%= f.label "2"%>
        <%= f.radio_button :rating, 2 %>
        <%= f.label "3"%>
        <%= f.radio_button :rating, 3 %>
        <%= f.label "4"%>
        <%= f.radio_button :rating, 4 %>
        <%= f.label "5"%>
        <%= f.radio_button :rating, 5 %>
      <%= f.submit "Submit" %>
    <% end %>
  <% else %>
    <p>Rating: <%= @trip.rating %></p>
  <% end %>
  <%= button_to "Edit Trip", edit_trip_path(@trip.id), method: :get, class: "btn btn-warning btn-sm" %>
  <%= button_to "Delete", trip_path(@trip.id), method: :delete, data: { confirm: "Are you sure you want to delete this trip?" }, class: "btn btn-danger btn-sm" %>
</main>