<h1>TRIP DETAILS</h1>

<ul>
  <li>
    TRIP ID: <%= @trip.id %> </br>
    PASSENGER: <%= link_to (Passenger.find_by(id: @trip.passenger_id)).name, passenger_path(Passenger.find_by(id: @trip.passenger_id)) %> </br>
    DRIVER: <%= link_to (Driver.find_by(id: @trip.driver_id)).name, driver_path(Driver.find_by(id: @trip.driver_id)) %> </br>
    DATE: <%= @trip.date %> </br>
    RATING: <%= @trip.rating %> </br>
  </li>
</ul>

<ul>
  <li> <%= link_to "EDIT TRIP", edit_trip_path(@trip.id) %> </li>
  <li> <%= link_to "DELETE TRIP ", trip_path(@trip.id), method: :delete, data: {confirm: "Are you sure you want to delete this trip?"} %> </li>
</ul>
