<h2>Trip: <%= @trips[:id]%></h2>

<table>
  <tr>
    <th>Driver ID:</th>
    <th>Passenger ID:</th>
    <th>Date:</th>
    <th>Cost:</th>
    <th>Rating:</th>
  </tr>
  <tr>
    <td><%= link_to @trips.driver_id, driver_path(@trips.driver_id) %></td>
    <td><%= link_to @trips.passenger_id, passenger_path(@trips.passenger_id) %></td>
    <td><%= @trips.date %></td>
    <td><%= number_to_currency @trips.cost/100.00 %></td>
    <td><%= @trips.rating %></td>
  </tr>
</table>

<div>
<% if @trips.rating.nil? %>
<%= link_to "Rate Trip", edit_trip_path %>
<% end %>
</div>

<div>
<%= link_to "Delete Trip", trip_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
</div>
