<h1>Trip # <%= @trip.id %></h1>
<section>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Driver</th>
        <th>Passenger</th>
        <th>Price</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @trip.date.strftime("%m/%d/%Y") %></td>
        <td><%= link_to Driver.find_by(id: @trip.driver_id).name, driver_path(@trip.driver_id) %></td>
        <td><%= link_to Passenger.find_by(id: @trip.passenger_id).name, passenger_path(@trip.passenger_id) %></td>
        <td><%= number_to_currency(@trip.cost) %></td>
        <td><%= @trip.rating %></td>
      </tr>
    </tbody>
  </table>
</section>

<%= link_to "Edit", edit_trip_path(@trip.id) %> |
<%= link_to "Delete", trip_path(@trip.id), method: :delete, data: { confirm: "Please confirm deletion." } %> |
<%= link_to "All Trips", trips_path %>
