<h2>Trip Details</h2>

<ul>
  <li>ID: <%= @trip.id %> </li>
  <li>Driver: <%= link_to @trip.driver.name, driver_path(@trip.driver) %> </li>
  <li>Passenger: <%= link_to @trip.passenger.name, passenger_path(@trip.passenger) %> </li>
  <li>Cost: $<%= sprintf('%.2f', @trip.cost/100) %> </li>
  <li>Rating: <%= @trip.rating %></li>
</ul>

<%= link_to "Edit Trip", edit_trip_path(@trip.id) %>
