<h2>Trip: <%= @trips[:id]%></h2>

<ul>
  <li>Driver ID: <%= @trips.driver_id %></li>
  <li>Passenger ID: <%= @trips.passenger_id %></li>
  <li>Date: <%= @trips.date %></li>
  <li>Cost: <%= number_to_currency @trips.cost/100.00 %></li>
  <li>Rating: <%= @trips.rating %></li>

</ul>

<div>
<% if @trips.rating == 0 %>
<%= link_to "Edit Trip", edit_trip_path %>
<% end %>
</div>

<div>
<%= link_to "Delete Trip", trip_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
</div>

<div>
<%= link_to "Back to Trips", trips_path %>
</div>
