<h1>Trip Details</h1>
<table id="details">
  <tr>
    <th>Driver: <%= link_to @trip.driver.name, driver_path(@trip.driver.id) %></th>
    <th>Passenger: <%= link_to @trip.passenger.name, passenger_path(@trip.passenger.id) %></th>
  </tr>
  <tr>
    <td>Date </td>
    <td><%= @trip.date %></td>
  </tr>
  <tr>
    <td>Rating</td>
    <td><%= @trip.rating %></td>
  </tr>
  <tr>
    <td> Cost </td>
    <td> <%= number_to_currency(@trip.cost.to_f / 100) %></td>
  </tr>
<th>
  <li> <%= link_to "Edit trip info", edit_trip_path(@trip) %></li>
  <li> <%= link_to "Delete trip from database", trip_path(@trip), method: :delete,
                   data: {confirm: 'Are you sure you would like to delete?'} %></li>
</th>
  <th>
  <li> <%= link_to "Back to Trip List", trips_path %></li>
</th>
</table>





