<h1>Trip Details</h1>

<ul>
  <li>Date: <%= @trip.date %></li>
  <li>Rating: <%= @trip.rating %></li>
  <li>Cost: <%= @trip.cost %></li>
  <li>Driver: <%= @trip.driver_id %></li>
  <li>Passenger: <%= @trip.passenger_id %></li>
</ul>