
<h1 class="home">THE ULTIMATE RIDESHARE V3.0</h1>

<% if flash[:notice] %>
  <h2><div class="notice"><%= flash[:notice] %></div></h2>
<% end %>

<ul class="main">
  <li><%= link_to "All Passengers", passengers_path(@passengers) %></li>
  <li><%= link_to "All Drivers", drivers_path(@passengers) %></li>
  <li><%= link_to "Become a Rider", new_passenger_path %></li>
  <li><%= link_to "Become a Driver", new_driver_path %></li>
</ul>

<footer>copyright 2020</footer>