<h1>Welcome to our ride share app</h1>

<p><%= link_to('All drivers', drivers_path) %></p>
<p><%= link_to('Sign up as a driver!', new_driver_path) %></p>

<p><%= link_to('All passengers', passengers_path) %></p>
<p><%= link_to('Sign up as a passenger!', new_passenger_path) %></p>

<p><%= link_to('All trips', trips_path) %></p>
<p><%= link_to('Request a trip!', new_trip_path) %></p>

