
<%# in app/views/_form.html.erb %>
<h2> Form page </h2>
<%= form_with model: @passenger, class: 'create-passenger' do |f| %>
  <p>Please provide the following information :</p>
  <%= f.label :name %>
  <%= f.text_field :name %>
   <%= f.label :phone %>
  <%= f.text_field :phone %>
  <%= f.submit "#{action_name}", class: "passenger-button" %>
<% end %>