<% if @passenger.errors.any? %>
  <ul class="errors">
    <% @passenger.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="form">
  <%= form_with model: @passenger do |f| %>
    <p>Please enter the following information for a passenger:</p>
    <div class="label">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="label">
      <%= f.label :phone_num %>
      <%= f.text_field :phone_num %>
    </div>
    <%= f.submit action_name %>
    <button><%= link_to "Back", passengers_path %></button>
  <% end %>
</div>

