<%= form_with model: @passengers, class: 'edit-passenger' do |f| %>
  <p>Please provide the following information to edit your rider:</p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :phone_num %>
  <%= f.text_field :phone_num %>

  <%= f.submit "#{action_name}", class: "passenger-button" %>
<% end %>

<p><%= link_to "Return Rider List", passengers_path %></p>