<%= form_with model: @passenger, class: 'edit-passenger' do |f| %>
  <p>Please provide the following information to save your passenger to our database:</p>

  <% if @passenger.errors.any? %>
    <ul>
      <% @passenger.errors.each do |column, message| %>
        <div class="error-message red">
          <li>
            <p><%= column %> <%= message %></p>
          </li>
        </div>

      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :phone_num %>
    <%= f.text_area :phone_num %>
  </div>

  <%= f.submit "#{action_name} Passenger", class: "passenger-button" %>
<% end %>