<%= form_with model: @passenger do |f| %>

<div>
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
</div>
<br>
<div>
    <%= f.label :phone_number %>
    <br>
    <%= f.text_field :phone_num %>
</div>

<br>
<%= f.submit action_name %>

<% end %>