<%#index.html.erb%>

<header>

  <div>
    <div><h1>PASSENGERS</h1></div>
    <div><button><%= link_to "Create New Passenger", new_passenger_path %></button></div>
  </div>

</header>

<main>


  <table>
    <thead>

    <tr>
      <th>NAME</th>

      <th>PHONE NUMBER</th>

      <th colspan="3"></th>
    </tr>

    </thead>

    <tbody>

    <% @passengers.each do |passenger| %>
      <tr>
        <td><%= link_to passenger.name, passenger_path(passenger)%></td>

        <td>
          <%= passenger.phone_num %>
        </td>

        <td><%= link_to "Edit", edit_passenger_path(passenger) %></td>
        <td><%= link_to "Delete", passenger_path(passenger.id), method: :delete, data: {confirm: "Are you sure you want to delete #{passenger.name}?"}%><td>
      </tr>
    <% end %>

    </tbody>

  </table>
</main>

<footer>
  <div id="footer">
    <h2>&#169; Kalki and Schanen 2020</h2>
  </div>
</footer>