<%#index.html.erb%>

<h1>Passengers</h1>
<ul>
  <% @passenger.each do |passenger|  %>
    <li class="passenger-list">
      <%= link_to passenger.id, passenger_path(passenger) %> -
      <%= link_to passenger.name, passenger_path(passenger) %> |
      <%= passenger.phone_num %>  |
      <%= link_to "Edit", edit_passenger_path(passenger) , class: "link-button"%> |
      <%= link_to "Delete", passenger_path(passenger), method: :delete, data: {confirm: "Are you sure?"}, class: "link-button"%>
    </li>
  <% end %>
</ul>
<%= link_to "Add Passenger", new_passenger_path %>