<p><%= link_to "Home", root_path %></p>
<p><%= link_to "Drivers List", drivers_path %></p>
<p><%= link_to "Passengers List", passengers_path %></p>
<p><%= link_to "Trips List", trips_path %></p>

<p><%= link_to "Sign up Driver", new_driver_path %></p>
<p><%= link_to "Sign up Passenger", new_passenger_path %></p>

<% if @passenger.errors.any? %>
  <ul class="errors">
    <% @passenger.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @passenger, class: 'create-passenger' do |f|%>
  <p>Please provide the following information to add a new passenger to our database:</p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :phone_num %>
  <%= f.text_field :phone_num %>
  <%= f.submit "Add Passenger", class: "Passenger-button" %>
<% end %>
