<h3>Rideshare Passengers</h3>
<section>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @passenger[:name] %></td>
        <td><%= @passenger[:phone_num] %></td>
        <td><%= link_to "Edit", edit_passenger_path(@passenger.id) %> |
          <%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: { confirm: "Please confirm deletion." } %> |
          <%= link_to "Back", passengers_path %>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <button><%= link_to "Request Ride", passenger_trips_path(@passenger.id), method: :post %></button>
  <h3>Passenger trips</h3>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Drivers</th>
        <th>Passenger</th>
        <th>Cost</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
<!--    <tr>-->
<!--      <td><%#= @trip[:id] %></td>-->
<!--      <td><%#= @trio[:date] %></td>-->
<!--      <td><%#= @trip[:driver_id] %></td>-->
<!--      <td><%#= @trio[:passenger_id] %></td>-->
<!--      <td><%#= @trip[:cost] %></td>-->
<!--      <td><%#= @trip[:rating] %></td>-->
<!--    </tr>-->
    </tbody>
  </table>
</section>