<h2>Passenger Details</h2>

<ul>
  <li>Name: <%= @passenger.name %></li>
  <li>Phone number: <%= @passenger.phone_num %></li>
</ul>

<%= link_to "Edit Passenger Details", edit_passenger_path(@passenger.id) %>

<h4> Trips: </h4>

<ul>
  <% @passenger.trips.each do |trip| %>
  <li> ID: <%= trip.id %> --
    Driver Name: <%= trip.driver.name%> --
    Passenger Name: <%= trip.passenger.name %> --
    Cost: $<%= trip.cost/100 %> --
    Rating: <%= trip.rating %>
  </li>
  <% end %>


</ul>