<h1>PASSENGER SHOW PAGE</h1>

<%= link_to "All Passengers", passengers_path, method: :get %>
<br /><br />
<%= @passenger.name + " - " + @passenger.phone_num %>
<%= button_to "Edit", edit_passenger_path(@passenger.id), method: :get %>
<%= button_to "Delete Passenger", passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure?" } %>
<%#= button_to "New Trip", new_passenger_trip_path, method: :get %>

<h3>TRIPS:</h3>
<p>TOTAL SPENT ON ALL TRIPS: $<%= @passenger.total_charged %></p>

<table>
  <tr>
    <th>Trip ID</th>
    <th>Date</th>
    <th>Driver</th>
    <th>Cost</th>
    <th>Rating</th>
  </tr>

  <% @passenger.trips.each do |trip| %>
    <tr>
      <td><%= link_to trip.id, trip_path(trip.id) %></td>
      <td><%= trip.date %></td>
      <td><%= link_to trip.driver.name, driver_path(trip.driver.id) %></td>
      <td>$<%= (trip.cost).to_f/100 %></td>
      <td><%= trip.rating %></td>
    </tr>

  <% end %>
</table>
