<div class="scroll-top"></div>

<h2 class="details-header">PASSENGER DETAILS - <%= @passenger.name.upcase %></h2>

<div class="detail-layout">

  <div class="details", id="pass-details">
    <ul>
      <li>
        <span class="detail-header">PHONE NUMBER: </span><%= @passenger.phone_num %> </br>
        <span class="detail-header">PASSENGER ID: </span><%= @passenger.id %> </br>
        <span class="detail-header">TOTAL CHARGED: </span><%= @passenger.total_charged %> </br>
      </li>
    </ul>
  </div>

  <div class="edit-delete">
    <div><%= link_to "DELETE PASSENGER", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure you want to delete #{@passenger.name}?"}, class: 'table-link' %></div>
    <div><%= link_to "EDIT PASSENGER", edit_passenger_path, class: 'table-link' %></div>
    <div><%= link_to "REQUEST TRIP", trips_path(passenger_id: @passenger.id), method: :post, class: 'table-link' %></div>
  </div>

</div>

<table>
  <thead>
  <tr>
    <th>TRIP ID </th>
    <th>TRIP DATE </th>
    <th>PASSENGER ID </th>
    <th>PASSENGER NAME </th>
    <th>DRIVER ID </th>
    <th>DRIVER NAME </th>
    <th>COST </th>
    <th>RATING </th>
  </tr>
  </thead>

  <tbody>
  <% @passenger.trips.each do |trip| %>
    <tr>
      <td><%= link_to trip.id, trip_path(trip), class: 'table-link' %></td>
      <td class="table-content"><%= trip.date %></td>


      <% if Passenger.find_by(id: trip.passenger_id) == nil %>
        <td class="table-content">N/A</td>
        <td class="table-content">DELETED PASSENGER</td>
      <% else %>
        <td class="table-content"><%= trip.passenger_id %></td>
        <td><%= link_to trip.passenger.name, passenger_path(trip.passenger), class: 'table-link' %></td>
      <% end %>

      <% if Driver.find_by(id: trip.driver_id) == nil %>
        <td class="table-content">N/A</td>
        <td class="table-content">DELETED DRIVER</td>
      <% else %>
        <td class="table-content"><%= trip.driver_id %></td>
        <td><%= link_to trip.driver.name, driver_path(trip.driver), class: 'table-link' %></td>
      <% end %>

      <td class="table-content"><%= trip.cost_to_string %></td>
      <td class="table-content"><%= trip.rating %></td>

    </tr>
  <% end %>
  </tbody>

</table>
