<h1><%= @passenger.name %></h1>
<%= link_to "Edit", edit_passenger_path(@passenger) %>
<%= link_to "Delete", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure?"} %>
<p>Phone number: <%= @passenger.phone_num %></p>


<!--See the total amount the passenger has been charged-->
<p>Total amount charged: <%= "$#{@passenger.total_cost}" %></p>


<!--Click a button to add a new trip for that passenger-->

<% if Driver.get_available_driver.nil? %>
  <p>No available driver</p>
<% else %>
  <button><%= link_to "Request a trip", passenger_trips_path(@passenger), method: :post %></button>
<% end %>
<!--See a list of trips that passenger went on-->
<strong><p>Trips List:</p></strong>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Driver</th>
    <th>Price</th>
    <th>Rating</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
    <% @passenger.trips.each do |trip| %>
    <tr>
      <td><%= link_to "#{trip.id}", trip_path(trip) %></td>
      <td><%= trip.date.strftime("%m/%d/%Y")  %></td>
      <td><%= link_to "#{trip.driver.name}", driver_path(trip.driver) %></td>
      <td><%= number_to_currency(trip.cost) %></td>
      <td><%= trip.rating %></td>
      <td><%= link_to "Delete", trip_path(trip.id), method: :delete, class: 'trip---delete-link', data: {confirm: "Are you sure?"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
