<h2>Passenger Details</h2>

<div><strong>Passenger: <%= @passenger.name %></strong>
  <p><strong>Phone number: </strong><%= @passenger.phone_num %></p>
  <p><strong>Total Amount Charged: $</strong><%= @passenger.total_charged %></p>
  <strong>Passenger's Trips:</strong>
  <ol>
    <% @passenger.trips.each do |trip| %>
      <li>Trip ID:<%= link_to trip.id, trip_path(trip.id) %>, driver: <%= link_to trip.driver.name, driver_path(trip.driver.id) %>, Date: <%= trip.date %>, rating: <%= trip.rating %>, cost: $<%= trip.money %></li>
    <%end %>
  </ol>
</div>

  <p class="buttons"><%= link_to "Request a Trip", passengers_path %></p>
<!--link to new trip maybe?-->
  <p class="buttons"><%= link_to "Back to Passengers List", passengers_path %></p>
  <p class="buttons"><%= link_to "Edit Passenger", edit_passenger_path(@passenger.id) %></p>
  <p class="buttons" id="delete"><%= link_to "Delete Passenger", passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure?"} %></p>
  <p class="buttons"><%= link_to "Back to Homepage", root_path %></p>
