
<div>
  <h1><%= @passenger.name %></h1>

  <% if flash[:notice] %>
    <h2><div class="notice"><%= flash[:notice] %></div></h2>
  <% end %>

  <h6>Phone Number: <%= @passenger.phone_num %></h6>
  <h6>Total Spending: $<%= @passenger.total_spent ? @passenger.total_spent.round(2) : 0 %></h6>


  <%= link_to "Edit", edit_passenger_path(@passenger) %> |
  <%= link_to "Delete", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure?"}%>
  <p><button><%= link_to "Request a trip", passenger_trips_path(@passenger), method: :post %></button></p>
  <h6>Trips: <% %></h6>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Trip ID</th>
    <th>Trip Date</th>
    <th>Passenger Name</th>
    <th>Driver Name</th>
    <th>Trip Rating</th>
    <th>Trip Cost</th>

  </tr>
  </thead>
  <tbody>
  <% @passenger.trips.each do |trip| %>
    <tr>
      <td><%= link_to trip.id, trip_path(trip) %></td>
      <td><%= trip.date %></td>
      <td><%= @passenger.name %></td>
      <% begin %>
      <td><%= trip.driver.name %></td>
      <% rescue %>
        <%= flash.alert = "Driver not found" %>
      <% end %>
      <td><%= trip.rating %></td>
      <td>$<%= trip.cost/100%></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to "Return to Passengers Database", passengers_path %></p>
<button><%= link_to "Home Page", homepages_path %></button>
<footer>copyright 2020</footer>