<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
  <style>
      thead:nth-child(odd){background-color: black;}
      tr:nth-child(even) {background-color: #BDA0CB;}
      table, th, td {
  border: 3px solid purple;
  padding: 10px;
  margin: 20px;
}
      thead {
          color: white;
      }
</style>
<body>
<h1>Passenger: <%= @passenger[:name] %></h1>
<h2>Your phone number is: <%= @passenger[:phone_num] %></h2>
<h2> Passenger id is: <%= @passenger[:id] %></h2>
<table>
  <thead>
 <tr>
    <th>Trip ID</th>
    <th>Driver</th>
    <th>Passenger</th>
    <th>Trip Cost</th>
    <th>Trip Rating</th>
  </tr>
  </thead>
  <tbody  >
  <% @passenger.trips.each do |trip|%>
  <tr>
    <td><%= trip.id %></td>
    <td><%= trip.driver.name %></td>
    <td><%= trip.passenger.name %></td>
    <td>$<%= trip.cost %></td>
    <td><%= trip.rating %></td>
  </tr>
  <% end %>
  </tbody>
</table>
</body>
</html>
<%#= @passenger.passenger_cost %>
