<h2><%= @passengers.name%></h2>

<h3><%= @passengers.phone_num %></h3>

<h4>List of Trips:</h4>
<ul>
  <% @passengers.trips.each do |trip| %>
  <li>Trip ID: <%= link_to trip.id, trip_path(trip.id) %> Trip Date: <%= trip.date %></li>
  <% end %>
</ul>

<div><%= link_to "Edit Passenger", edit_passenger_path %></div>

<div><%= link_to "Delete Passenger", edit_passenger_path %></div>


<div><%= link_to "Back to Passengers", passengers_path %></div>
