<%#show.html.erb%>

<header>
  <h1><%= link_to "PASSENGERS", passengers_path, class:"header-link-text" %></h1>
</header>

<main>
  <section>
    <h2><%= @passenger.name %></h2>

    <table>

      <thead>

      <tr>
        <th>TRIP ID</th>
        <th>DRIVER ID</th>
        <th>DATE</th>
        <th>RATING</th>
        <th>COST</th>
        <th colspan="5"></th>
      </tr>

      </thead>

      <tbody>
        <% @passenger.trips.each do |trip| %>
          <tr>
            <td><% link_to trip.id, passenger_trip_path(trip) %></td>

            <td><% link_to trip.driver_id, driver_path(trip.driver_id) %></td>

            <td><%= trip.date %></td>

            <td><%= trip.rating %></td>

            <td><%= trip.cost %></td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </section>

  <div>
    <%= button_to "EDIT", edit_passenger_path(@passenger.id), method: :get, :class => "button" %>
    <%= button_to "DELETE", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure?"}, :class => "button" %>
    <%#= button_to  "ADD TRIP", new_passenger_trip_path, method: :get, :class => 'button' %>
  </div>

  <p><%= link_to "RETURN TO PASSENGER LIST", passengers_path %></p>

</main>