<h1>Passenger Details</h1>
<br />

<div class="profile-container">
  <div class="photo"><%= image_tag ("person_img.png") %></div>
  <ul class="info">
    <li><b>Name: </b><%= @passenger.name %></li>
    <li><b>Telephone #: </b><%= @passenger.phone_num %></li>
  </ul>
  <ul class="info-edit">
    <li>
      <div class="profile-buttons">
        <%= button_to "Edit Passenger", edit_passenger_path(@passenger), method: :get %>
      </div>
      <div class="profile-buttons">
        <%= button_to "Delete Passenger", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure?" } %>
      </div>
    </li>
  </ul>
</div>

<h3>Active Trips</h3>

<% active_trips = @passenger.trips.where(rating: nil) %>
<% if !active_trips.empty? %>
  <ul>
    <% active_trips.each do |active_trip| %>
      <li>
        <%= active_trip.date %>
        <%= form_with model: active_trip do |f| %>
          <%= f.label :rating %>
          <%= f.select :rating, [1, 2, 3, 4, 5] %>
          <%= f.submit "Rate & Complete Trip", class: "submit_buttom", method: :patch %>
        <% end %>
        <%#= link_to "Edit This Trip", edit_trip_path(active_trip) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No active trips.  Make a new trip below!  </p>
<% end %>

<%= button_to "Request Trip", passenger_create_trip_path(@passenger), method: :post %>
<br />

<h3>TRIPS:</h3>
<p>TOTAL SPENT ON ALL TRIPS: $<%= @passenger.total_charged %></p>
<p>NUMBER OF TRIPS TAKEN: <%= @passenger.trips.count %></p>

<div class="button-box">
  <div class="button-collect">
    <%= button_to "#{@passenger.name}'s Trips", passenger_trips_path(@passenger), method: :get %>
  </div>

</div>





