<h1>DETAILS for: <%= @passenger.name %></h1>

<button><%= link_to "Back to Passengers List", passengers_path %></button>
<button><%= link_to "Edit Passengers", edit_passenger_path %></button>
<button><%= link_to "Delete Passenger", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure you want to delete #{@passenger.name}?"}%></button>
<button><%= link_to "Request Trip", trips_path(passenger_id: @passenger.id), method: :post %></p></button>


<ul class="passenger-details">

  <li>
    PASSENGER ID: <%= @passenger.id %> </br>
    NAME: <%= @passenger.name %> </br>
    PHONE NUMBER: <%= @passenger.phone_num %> </br>
    TOTAL CHARGED:<%= @passenger.total_charged %> </br>
  </li>

</ul>

<h2> TRIPS TAKEN </h2>
<table>
  <thead>
  <tr>
    <th>TRIP ID </th>
    <th>TRIP DATE </th>
    <th>PASSENGER ID </th>
    <th>PASSENGER NAME </th>
    <th>DRIVER ID </th>
    <th>DRIVER NAME </th>
    <th>COST </th>
    <th>RATING </th>
  </tr>
  </thead>

  <tbody>
  <% @passenger.trips.each do |trip| %>
    <tr>
      <td><%= link_to trip.id, trip_path(trip) %></td>
      <td><%= trip.date %></td>


      <% if Passenger.find_by(id: trip.passenger_id) == nil %>
        <td>N/A</td>
        <td>DELETED PASSENGER</td>
      <% else %>
        <td><%= trip.passenger_id %></td>
        <td><%= link_to trip.passenger.name, passenger_path(trip.passenger) %></td>
      <% end %>

      <% if Driver.find_by(id: trip.driver_id) == nil %>
        <td>N/A</td>
        <td>DELETED DRIVER</td>
      <% else %>
        <td><%= trip.driver_id %></td>
        <td><%= link_to trip.driver.name, driver_path(trip.driver) %></td>
      <% end %>

      <td><%= trip.cost_to_string %></td>
      <td><%= trip.rating %></td>

    </tr>
  <% end %>
  </tbody>

</table>
