<h2>Passenger Details</h2>

<div><strong>Passenger: <%= @passenger.name %></strong>
  <p><strong>Phone number: </strong><%= @passenger.phone_num %></p></div>

  <p class="buttons"><%= link_to "Back to Passengers List", passengers_path %></p>
  <p class="buttons"><%= link_to "Edit Passenger Info", edit_passenger_path(@passenger.id) %></p>
  <p class="buttons" id="delete"><%= link_to "Delete Passenger Info", passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure?"} %></p>
  <p class="buttons"><%= link_to "Back to Homepage", root_path %></p>
