<h2>Passenger Details</h2>

<ul>
  <li>Name: <%= @passenger.name %></li>
  <li>Phone number: <%= @passenger.phone_num %></li>
  <li>Total charges: <%= number_to_currency(@passenger.total_cost/100) %></li>
</ul>

<%= link_to "Edit Passenger Details", edit_passenger_path(@passenger.id) %>  --

<%= link_to "Delete Passenger", passenger_path(@passenger.id), method: :delete, data: { confirm: "Are you sure you want to delete this passenger?" } %>
<p>* You can only delete a passenger if they have no trips.</p>

<br>
<h4>Trips: </h4>

<ol>
  <% @passenger.trips.each do |trip| %>
  <li> ID: <%= link_to trip.id, trip_path(trip) %> --
    Driver: <%= trip.driver.name %> --
    Passenger: <%= trip.passenger.name %> --
    Cost: <%= number_to_currency(trip.cost/100) %> --
    Rating: <%= trip.rating %>
  </li>
  <% end %>
</ol>

<br>
<%= link_to "Request Trip", passenger_trips_path(@passenger.id), method: :post %>

