<h2>Rider Details</h2>

<nav>
  <%=link_to "Homepage", homepages_path %> |
  <%= link_to "Return to Rider List", passengers_path %> |
  <%=link_to "View Rider Trips", passenger_trips_path(@passengers.id) %> |
  <%= link_to "Add a New Rider ", new_passenger_path%>
</nav>

<p>Passenger ID: <%= @passengers.id %></p>
<p>Passenger Name: <%= @passengers.name %></p>
<p>Passenger Phone Number: <%= @passengers.phone_num %></p>

<div>
  <p> Total Cost: <%=@passengers.cost %></p>
  <ul>
    <% @passengers.trips.each do |trip| %>
      <li>
        <p> Passenger Name: <%=trip.passenger.name %></p>
        <p> Passenger ID: <%=trip.passenger.id %></p>
        <%#link_to trip.date, trip_path(trip.id) %>
      </li>
    <% end %>
  </ul>
</div>

<!--Want to create loop that pulls passenger trip details  -->
<nav>
  <%=link_to "Homepage", homepages_path %> |
  <%= link_to "Return to Rider List", passengers_path %> |
  <%=link_to "View Rider Trips", passenger_trips_path(@passengers.id) %> |
  <%= link_to "Add a New Rider ", new_passenger_path%>
</nav>


