<div>
  <h1><%= @passenger.name %></h1>
  <h6>Phone Number: <%= @passenger.phone_num %></h6>
  <h6>Total Spending: <%=  %></h6>
  <h6>Trips: <%=  %></h6>

  <%= link_to "Edit", edit_passenger_path(@passenger) %> |
  <%= link_to "Delete", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure?"}%>
  <p><button><%= link_to "Add a trip", new_trip_path %></button></p>

</div>


<p><%= link_to "Return to Passengers Database", passengers_path %></p>