<!--each passenger info-->
<div>
  <h2>passenger information</h2>
  <h3><%= @passenger.name %></h3>
  <h3><%= @passenger.phone_num %></h3>
  <%= link_to "Edit", edit_passenger_path(@passenger.id) %>
  <%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure?"} %>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Trip ID</th>
      <th scope="col">passenger</th>
      <th scope="col">driver</th>
      <th scope="col">Cost</th>
      <th scope="col">Rating</th>
    </tr>
    </thead>
    <tbody>
    <% @passenger.trips.each do |trip| %>
      <tr>

        <th scope="row"><%= link_to "#{trip.id}", trip_path(trip.id) %></th>
        <td><%= link_to "#{trip.passenger.name}", passenger_path(trip.passenger_id)%></td>
        <td><%= link_to "#{trip.driver.name}", driver_path(trip.driver_id)%></td>
        <td><%= trip.cost %></td>
        <td><%= trip.rating %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>