<h2><%= @passengers.name%></h2>

<h3><%= @passengers.phone_num %></h3>

<h4>List of Trips:</h4>
<ul>
  <% @passengers.trips.each do |trip| %>
  <li>Trip ID: <%= link_to trip.id, trip_path(trip.id) %> Trip Date: <%= trip.date %></li>
  <% end %>
</ul>

   <h2>Total Charges <%= @passengers.total_charges.nil? ? "0" : number_to_currency(@passengers.total_charges) %>


<ul>
  <li><%= link_to "Edit Passenger", edit_passenger_path %></li>
  <li><%= link_to "Delete Passenger", passenger_path, method: :delete, data: {confirm: 'Are you sure?'} %></li>
  <li><%= link_to "Back to Passengers", passengers_path %></li>
</ul>