<% if @driver.errors.any? %>
  <div class="errors">
    <% @driver.errors.each do |column, message| %>
      <p>
        Oops! Your data doesn't look quite right: <strong><%= column.capitalize %></strong> <%= message %>.
      </p>
    <% end %>
  </div>
<% end %>

<%=form_with model: @driver, class: 'driver_form' do |f| %>
  <p>Please update Driver Information here:</p>

  <div>
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>
  <div>
    <%= f.label :vin %>
    <%= f.text_area :vin %>
  </div>

  <%= f.submit "Update Driver!" %>
<% end %>