<% if @driver.errors.any? %>
<ul class="errors">
  <% @driver.errors.each do |column, message| %>
    <li>
      <strong><%= column.capitalize %></strong> <%= message %>
    </li>
  <% end %>
</ul>
<% end %>

<%= form_with model: @driver do |f| %>
    <p>Please provide the following information to <%= action_name %> driver in our database:</p>
  
    <%= f.label :name %>
    <%= f.text_field :name %>
  
    <%= f.label :vin %>
    <%= f.text_field :vin %>

    <%= f.label :available %>
    <% if action_name == "Edit" %>
      <%= f.select :available, [["Yes", true],["No", false]], value: @driver.available %>
    <% else %>
      <%= f.select :available, [["Yes", true]], value: @driver.available %>
    <% end %>  
  
    <%= f.submit "#{ action_name } Driver" %>
<% end %>
