<%= form_with model: @driver, class: 'edit-driver' do |f| %>

  <p>Please provide the following information to edit your task in our database:</p>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :vin %>
    <%= f.text_field :vin %>

  <%= f.submit "Edit Driver", class: "driver-button" %>
<% end %>