<% if @driver.errors.any? %>
  <ul class="errors">
    <% @driver.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %> <%= message %></strong>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @driver do |f| %>
  <div>
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name %></p>
  </div>
  <div>
    <p><%= f.label :vin %></p>
    <p><%= f.text_field :vin %></p>
  </div>
  <%= f.hidden_field :available, :value => true %>
  <%= f.submit "#{action_name} Driver" %>
<% end %>