<div>

<%= form_with model: @driver do |f| %>

  <%# if @driver.errors.any? %>
<!--    <ul>-->
      <%# @driver.errors.each do |attributef, message| %>
<!--        <li>-->
<!--          <p><%#= attribute %> <%#= message %></p>-->
<!--        </li>-->
      <%# end %>
<!--    </ul>-->
  <%# end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div>
    <%= f.label :vin %>
    <%= f.text_field :vin %>
  </div>
  <br>

  <% if @driver.persisted? %>
  <div>
  <%= f.label :available %>
  <%= f.check_box :available %>
  </div>
  <% end %>

  <br>
  <%= f.submit action_name, class: "button" %>

<% end %>
</div>