<header>
  <h1><%= header_title %></h1>
</header>
<main>
  <%= form_with model: @driver do |f| %>

    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :vin %>
      <%= f.text_field :vin %>
    </div>
    <div>
      <%= f.label :availability_status %>
      <%= f.text_field :availability_status %>
    </div>
    <%= f.submit action_name, class: "btn btn-success" %>

  <% end %>
</main>
