<%= form_with model: @driver, class: "edit-drivers" do |f| %>
  <p>Please provide the following information to edit your driver in our database:</p>

  <% if @driver.errors.any? %>
    <ul class="errors">
      <% @driver.errors.each do |column, message| %>
        <li>
          <strong><%= column.capitalize %></strong> <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>

<div>
  <%= f.label :name %>
  <%= f.text_field :name %> 
  </div>


<div>
  <%= f.label :vin %>
  <%= f.text_field :vin %>
  </div>

<div>
  <%= f.submit "Edit Driver", class: "edit-button", method: :patch %>
<% end %>

</div>