<nav>
  <ul>
    <li><button class="show"><a href="<%= new_driver_path %>">Add a driver</a></button></li>
  </ul>
</nav>

<h3>Rideshare Drivers </h3>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= paginate @drivers %>

<table>
  <thead>
  <th>Name</th>
  <th>VIN number</th>
  <th>Options</th>
  </thead>
  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= link_to driver.name, driver_path(driver.id) %></td>
        <td><%= driver.vin %></td>
        <td>
            <%= link_to "Edit", edit_driver_path(driver.id) %> |
            <%= link_to "Delete", driver_path(driver.id), method: :delete, data: { confirm: "Please confirm deletion." } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

