
<h2>Drivers</h2>

<div><%= link_to "Add driver", new_driver_path, class: "link-button" %></div>

<table id="myTable">
  <tr>
    <th>Driver ID</th>
    <th>Name</th>
    <th>Vin</th>
    <th>Average Rating</th>
    <th>Action</th>
  </tr>
  <% @drivers.each do |driver|  %>

    <tr>
      <td><%= driver.id %></td>
      <td><%= link_to driver.name, driver_path(driver) %></td>
      <td><%= driver.vin %></td>
      <td><%= driver.average_rating %></td>
      <td>
        <%= link_to "Edit", edit_driver_path(driver) , class: "link-button"%> |
        <%= link_to "Delete", driver_path(driver), method: :delete, data: {confirm: "Are you sure?"}, class: "link-button"%>
      </td>
    </tr>
  <% end %>
</table>