<h1>Driver List</h1>
<div class="index">
  <p><%= link_to "Create a New Driver Account", new_driver_path %></p>
</div> 
<section class="table-border"> 
  <table class="list-table">
    <tr>
      <th>Driver ID</th>
      <th>Driver Name</th>
      <th></th>
    </tr>
    <% @drivers.order(id: :asc).each do |driver|  %>
      <% if driver.isactive %>
        <tr>
          <th><%= driver.id %></th>
          <th><%= link_to driver.name, driver_path(driver) %></th>
          <th><%= link_to "Edit", edit_driver_path(driver.id) %> |
          <%= link_to "Delete", driver_path(driver.id), method: :delete, data: {confirm: "Are you sure?"} %></th>
        </tr>  
      <% end %>  
    <% end %>
  </table>
</section>
