<p><%= link_to "Home", root_path %></p>
<p><%= link_to "Drivers List", drivers_path %></p>
<p><%= link_to "Passengers List", passengers_path %></p>
<p><%= link_to "Trips List", trips_path %></p>
<p><%= link_to "Sign Up Driver", new_driver_path %></p>
<p><%= link_to "Sign Up Passenger", new_passenger_path %></p>

<h1>Drivers</h1>
<% if @drivers.length > 0 %>
  <ul>
    <% @drivers.each do |driver| %>
      <li> <%= link_to driver.name, driver_path(driver)%></li>
  <% end %>
  </ul>
<% else %>
    <p>No drivers in database</p>
<% end %>
