<h3>Rideshare Drivers </h3>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<table>
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>Name</th>-->
<!--    <th>Phone Number</th>-->
<!--  </tr>-->
<!--  </thead>-->
  <tbody>
  <% @drivers.each do |driver| %>
    <tr>
      <td><a href="<%= driver_path(driver) %>"><%= driver[:name] %></a></td>
      <td><%= driver.phone_num %></td>
      <td> <%= link_to "Edit", edit_driver_path(driver.id) %>|
        <%= link_to "Delete", driver_path(driver.id), method: :delete %></li></td>
    </tr>
  <% end %>
  </tbody>
</table>