<h1>DRIVERS</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>VIN</th>
    <th>Status</th>
    <th class="mid_no_border"></th>
    <th class="no_border"></th>
  </tr>
  <% @drivers.each do |driver| %>
    <tr>
      <td><%= link_to "#{driver.id}", driver_path(driver)%> </td>
      <td><%= link_to "#{driver.name}", driver_path(driver) %> </td>
      <td><%= "#{driver.vin}" %> </td>
      <td><%= driver.available ? "Available" : "Unavailable" %> </td>
      <td class="mid_no_border"><%= button_to "Edit", edit_driver_path(driver.id), method: :get%></td>
      <td class="no_border"><%= button_to "Delete", driver_path(driver.id), method: :delete %></td>
    </tr>

  <% end %>
</table>
