<nav>
  <%=link_to "Homepage", homepages_path %> |
  <%= link_to "Return to Driver List", drivers_path %> |
</nav>
<%= render partial: "form", locals: { action_name: "New Driver" } %>
<nav>
  <%=link_to "Homepage", homepages_path %> |
  <%= link_to "Return to Driver List", drivers_path %> |
</nav>