<p><%= link_to "Home", root_path %></p>
<p><%= link_to "Drivers List", drivers_path %></p>
<p><%= link_to "Passengers List", passengers_path %></p>
<p><%= link_to "Add Driver", new_driver_path %></p>
<p><%= link_to "Add Passenger", new_passenger_path %></p>

<%= form_with model: @driver, class: 'create-driver' do |f|%>
  <p>Please provide the following information to add a new driver to our database:</p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :vin %>
  <%= f.text_field :vin %>
  <%= f.label :available %>
  <%= f.text_field :available %>
  <%= f.submit "Add Driver", class: "Driver-button" %>
<% end %>