<%#= render partial: "form", locals: { action_name: "Edit" } %>

<header><h1>Rosha RideShare App</h1></header>
<body>
<nav>
  <p><%= link_to "Home", root_path %></p>
  <p><%= link_to "Drivers List", drivers_path %></p>
  <p><%= link_to "Passengers List", passengers_path %></p>
  <p><%= link_to "Trips List", trips_path %></p>
  <p><%= link_to "Sign Up Driver", new_driver_path %></p>
  <p><%= link_to "Sign Up Passenger", new_passenger_path %></p>
</nav>


<% if @driver.errors.any? %>
  <ul class="errors">
    <% @driver.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @driver, class: 'create-driver' do |f|%>
  <p>Please provide the following information to add a new driver to our database:</p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :vin %>
  <%= f.text_field :vin %>
  <%= f.hidden_field :available, :value => :true %>
  <%= f.submit "Add Driver", class: "Driver-button" %>
<% end %>

</body>
<footer class="homepage">Copyright Rosha RideShare 2020</footer>