<h1>New Driver</h1>

<div>
  <%= form_with model: @driver, class: 'create-driver' do |f| %>
    <p>Please enter the driver's info:</p>

    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :vin %>
      <%= f.text_field :vin %>
    </div>

    <div>
      <%= f.label :available %>
      <%= f.text_field :available %>
    </div>

    <%= f.submit "Save Driver", class: "driver-button" %>
  <% end %>
</div>