<h1>DRIVER INFORMATION</h1>

<ul>
  <li>ID: <%= "#{@driver.id}"%></li>
  <li>VIN: <%= "#{@driver.vin}"%></li>
  <li>STATUS: <%= @driver.available ? "AVAILABLE" : "UNAVAILABLE" %> </li>


</ul>


<table style="width:50%">
  <tr>
    <th>Trip ID</th>
    <th>Passenger ID</th>
    <th>Date</th>
    <th>Rating</th>
    <th>Cost</th>
  </tr>

  <% @driver.trips.each do |trip| %>
    <tr>
      <td><%= "#{trip.id}" %> </td>
      <td><%= "#{trip.passenger_id}" %> </td>
      <td><%=  "#{trip.date}" %> </td>
      <td><%= "#{trip.rating}" %> </td>
      <td><%= "#{trip.cost}" %> </td>
    </tr>

<% end %>

