<h2>Driver Details</h2>

<div><strong>Driver: <%= @driver.name %></strong>
  <p><strong>Vin: </strong><%= @driver.vin %></p>
  <p><strong>Availability:</strong> <% if @driver.available == true %>
      <%= "Available" %>
      <% else %>
    <%= "Not Available" %>
      <% end %>
      </p>
  <p><strong>Total Earnings:</strong> $<%= @driver.total_earnings %></p>
  <p><strong>Average Rating:</strong> <%= @driver.avg_rating %></p>
  <ol>Trips:
    <% @driver.trips.each do |trip| %>
    <li><%= link_to trip, trip_path(trip.id) %>>Passenger: <%= trip.passenger.name %>, Date: <%= trip.date %>, rating: <%= trip.rating %></li>
      <%end %>
  </ol>

</div>


<!--  <p class="buttons"><%#= link_to "Edit Driver", edit_driver_path(@driver.id) %></p>-->
<!--  <p class="buttons" id="delete_driver"><%#= link_to "Delete Driver", delete_driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure you want to delete this driver?"} %></p>-->

  <p class="buttons"><%= link_to "Back to Driver's Index", drivers_path %></p>
  <p class="buttons"><%= link_to "Edit Driver Info", edit_driver_path(@driver.id) %></p>
  <p class="buttons" id="delete"><%= link_to "Delete Driver Info", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure?"} %></p>