<header>
  <h1>Driver Details</h1>
</header>
<main>
  <p>Passenger Name: <%= @driver.name %></p>
  <p>Vin: <%= @driver.vin %></p>
  <p>Availability Status: <%= @driver.availability_status ? "AVAILABLE" : "UNAVAILABLE" %></p>
  <%= button_to "Edit Driver", edit_driver_path(@driver.id), method: :get, class: "btn btn-warning btn-sm" %>
  <%= button_to "Return to Driver List", drivers_path, method: :get, class: "btn btn-primary" %>
</main>