<div>
  <h1><%= @driver.name %></h1>
  <h6>Vin: <%= @driver.vin %></h6>
  <h6>Available?: <%= @driver.available %></h6>
  <h6>Earnings: <%=  %></h6>
  <h6>Average rating: <%= %></h6>
  <h6>Trips: <%=  %></h6>

  <%= link_to "Edit", edit_driver_path(@driver) %>
  <%= link_to "Delete", driver_path(@driver), method: :delete, data: {confirm: "Are you sure?"}%>
</div>


<p><%= link_to "Return to Drivers Database", drivers_path %></p>