<html>
<head>
  <style>
      table, th, td {
          border: 3px solid #800080;
          padding: 10px;
          margin: 20px;
      }
  </style>
</head>
<body>
<h2>Driver: <%= @driver[:name] %></h2>
<h3>Vin: <%= @driver[:vin] %></h3>
<h3> Driver Id: <%=@driver[:id] %></h3>
<% if @driver[:available] == "true" %>
  <% availability = "yes" %>
  <% else %>
  <% availability = "no" %>
  <% end %>
<h4>Availability: <%= availability %></h4>
  <%= link_to "Is this Driver available?", available_driver_path(@driver.id), method: :patch %>
  <%= link_to "Delete Driver?", destroy_driver_path, method: :delete, data: {confirm: "Are you sure?"} %>
  <%= link_to "Edit Driver", edit_driver_path %>

<h4> <%= @driver[:name] %>'s average rating is
<%= @driver.average_rating %>. </h4>
<h4>
    Their trips totaled to $<%= @driver.total_money%> and they made $<%= @driver.after_fee %>.
</h4>
  <table>
    <thead>
    <tr>
      <th>Trip ID</th>
      <th>Trip Cost</th>
      <th>Trip Rating</th>
    </tr>
    </thead>
    <tbody>
    <% @driver.trips.each do |trip|%>
      <tr>
        <td><%= trip[:id] %></td>
        <td>$<%= trip[:cost] %></td>
        <td><%= trip[:rating] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </body>
