<h1>DETAILS for: <%= @driver.name %></h1>

<button><%= link_to "Back to Drivers List", drivers_path %></button>
<button><%= link_to "Edit Driver", edit_driver_path %></button>
<button><%= link_to "Delete Driver", driver_path(@driver), method: :delete, data: {confirm: "Are you sure you want to delete #{@driver.name}?"}%></button>



<ul class="driver-details">

  <li>
    DRIVER ID: <%= @driver.id %> </br>
    NAME: <%= @driver.name %> </br>
    VIN: <%= @driver.vin %> </br>
    TOTAL EARNINGS:<%= @driver.total_earnings %> </br>
    AVERAGE RATING: <%= @driver.avg_rating %> </br>
    STATUS:
    <% if @driver.available %>
      <button><%= link_to "AVAILABLE", toggle_status_path(@driver), method: :patch %></button>
    <% else %>
      <button><%= link_to "UNAVAILABLE", toggle_status_path(@driver), method: :patch %></button>
    <% end %>

  </li>
</ul>

<h2> TRIPS TAKEN </h2>
  <table>
    <thead>
    <tr>
      <th>TRIP ID </th>
      <th>TRIP DATE </th>
      <th>PASSENGER ID </th>
      <th>PASSENGER NAME </th>
      <th>DRIVER ID </th>
      <th>DRIVER NAME </th>
      <th>COST </th>
      <th>RATING </th>
    </tr>
    </thead>

    <tbody>
    <% @driver.trips.each do |trip| %>
      <tr>
        <td><%= link_to trip.id, trip_path(trip)%></td>
        <td><%= trip.date %></td>

        <% if Passenger.find_by(id: trip.passenger_id) == nil %>
          <td>N/A</td>
          <td>DELETED PASSENGER</td>
        <% else %>
          <td><%= trip.passenger_id %></td>
          <td><%= link_to trip.passenger.name, passenger_path(trip.passenger)%></td>
        <% end %>

        <% if Driver.find_by(id: trip.driver_id) == nil %>
          <td>N/A</td>
          <td>DELETED DRIVER</td>
        <% else %>
          <td><%= trip.driver_id %></td>
          <td><%= link_to trip.driver.name, driver_path(trip.driver) %></td>
        <% end %>

        <td><%= trip.cost_to_string %></td>
        <td><%= trip.rating %></td>

      </tr>
    <% end %>
    </tbody>

  </table>
