<h2>Driver Details</h2>

<nav>
  <%=link_to "Homepage", homepages_path %> |
  <%= link_to "Return to Driver List", drivers_path %> |
  <%=link_to "View Driver Trips", driver_trips_path(@drivers.id) %> |
</nav>
<p>Driver Name: <%= @drivers.name %></p>
<p>VIN: <%= @drivers.vin %></p>
<p>Driver ID: <%= @drivers.id %></p>
<p>Available: <%= @drivers.available %></p>
<p>Driver Avg. Rating: <%= @drivers.mean_rating %></p>
<p> Driver Total Earnings: <%= @drivers.total_earnings.round(2) %></p>


<!--Want to create loop that pulls driver trip details  -->

<nav>
  <%=link_to "Homepage", homepages_path %> |
  <%= link_to "Return to Driver List", drivers_path %> |
  <%=link_to "View Driver Trips", driver_trips_path(@drivers.id) %> |
</nav>
