<h1>DRIVER INFORMATION</h1>

<ul>
  <li>ID: <%= "#{@driver.id}"%></li>
  <li>NAME: <%= "#{@driver.name}"%></li>
  <li>VIN: <%= "#{@driver.vin}"%></li>
  <li>STATUS: <%= @driver.available ? "AVAILABLE" : "UNAVAILABLE" %> </li>
  <br>
  <li>TOTAL EARNED: $<%='%.2f' % (@driver.total_earned.to_f/100) %></li>
  <li>AVERAGE RATING: <%=@driver.average_rating.round(2) %></li>
</ul>

<div class="buttons">
<%= button_to "Edit", edit_driver_path(@driver.id), method: :get%>
<%= button_to "Delete", driver_path(@driver.id), method: :delete, data: {confirm: "Confirm DELETE."}%>
</div>
<br>
<h1>TRIPS DRIVEN:</h1>

<table>
  <tr>
    <th>Trip ID</th>
    <th>Passenger ID</th>
    <th>Date</th>
    <th>Rating</th>
    <th>Cost</th>
  </tr>

  <% @driver.trips.each do |trip| %>
    <tr>
      <td><%= link_to "#{trip.id}", trip_path(trip.id) %> </td>
      <td><%= link_to "#{trip.passenger_id}", passenger_path(trip.passenger_id) %> </td>
      <td><%= "#{trip.date}" %> </td>
      <td><%= "#{trip.rating}" %> </td>
      <td>$<%= "#{'%.2f' % (trip.cost.to_f/100)}" %> </td>
    </tr>
<% end %>
</table>
