<div>
  <h1><%= @driver.name %></h1>
  <h5>VIN#: <%= @driver.vin %></h5>
  <% if @driver.available %>
      <h5>Driver availability: available </h5>
  <% else %>  
      <h5>Driver availability: unavailable </h5>
  <% end %>

  <table class="list-table">
      <tr>
          <th>Trip ID</th>
          <th>Passenger</th>
          <th>Driver</th>
          <th>Cost</th>
          <th>Rating</th>
      </tr>
      <% @driver.trips.each do |trip| %>
        <tr>
            <th><%= link_to trip.id, trip_path(trip.id) %></th>
            <th><%= link_to trip.passenger.name,passenger_path(trip.passenger_id) %></th>
            <th><%= @driver.name %></th>
            <th><%= trip.cost / 100 %></th>
            <th><%= trip.rating %></th>
        </tr>
      <% end %>
  </table>
  <%= link_to "Edit", edit_driver_path(@driver) %> |
  <%= link_to "Delete", driver_path(@driver), method: :delete, data: {confirm: "Are you sure?"} %>
</div>


