<h2><%= @driver.name %></h2>
<h3><%= @driver.vin %></h3>
<h3><% if @driver.available %>
      <%= "Available" %>
    <% else %>
      <%= "Unavailable" %>
    <% end %>
    </h3>

<h4>List of Trips:</h4>
<ul>
  <% @driver.trips.each do |trip| %>
    <li>Trip ID: <%= link_to trip.id, trip_path(trip.id) %> Trip Date: <%= trip.date %></li>
  <% end %>
</ul>

<h2>Total Earnings <%= @driver.total_earnings.nil? ? "0" : number_to_currency(@driver.total_earnings) %></h2>

<h2>Average Rating <%= @driver.average_rating.nil? ? "0" : (@driver.average_rating).round(2) %> </h2>


<ul>
  <li><%= link_to "Edit Driver", edit_driver_path %></li>
  <li><%= link_to "Delete Driver", driver_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
  <li><%= link_to "Back to Drivers", drivers_path %></li>
</ul>



