<h1><%= @driver.name %></h1>

<ul>
  <li>Vin: <%= @driver.vin %></li>
  <li>STATUS: <%= @driver.available ? "AVAILABLE" : "UNAVAILABLE" %></li>
  <li>Total Earnings: <%= @driver.total_earnings.round(2) %></li>
  <li>Average Rating: <%= @driver.average_rating.round(2) %></li>
</ul>

<h6>
  <table style="width:50%">
    <thead>
    <th>Trip ID</th>
    <th>Date</th>
    <th>Driver</th>
    <th>Passenger</th>
    <th>Cost</th>
    <th>Rating</th>
    </thead>
    <tbody>
    <% @driver.trips.each do |trip| %>
      <tr>
        <td><%= link_to trip.id, trip_path(trip) %></td>
        <td><%= trip.date %></td>
        <td><%= @driver.name %></td>
        <td><%=  %></td>
        <td>$<%= trip.cost/100%></td>
        <td><%= trip.rating %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <button><%= link_to "Edit Driver", edit_driver_path(@driver) %></button>
  <button><%= link_to "Delete Driver", driver_path(@driver), method: :delete, data: {confirm: "Are you sure?"}%></button>
  </h6>


<p><%= link_to "Return to Drivers Database", drivers_path %></p>