<h1>Driver Details</h1>
<br/>

<div class="profile-container">
  <div><%= image_tag ("person_img.png") %></div>
  <ul>
    <li><b>Name: </b><%= @driver.name %></li>
    <li><b>VIN: </b><%= @driver.vin %></li>
    <li><b>Status: </b><%= @driver.available ? "available" : "not available" %> <%= button_to "Change Status?",  { :action => "toggle_available" }, method: :patch %></li>
  </ul>
</div>


<br/>

<h3>TRIPS</h3>
<p>TOTAL EARNED FROM ALL TRIPS: $<%= @driver.total_earnings %></p>
<p>NUMBER OF TRIPS DRIVEN: <%= @driver.trips.count %></p>
<p>AVERAGE RATING: <%= @driver.average_rating %></p>
<br/>
<div class="button-box">
  <div class="button-collect">
    <%= button_to "#{@driver.name}'s Trips", driver_trips_path(@driver), method: :get %>
  </div>
  <div class="button-collect">
    <%= button_to "Edit Driver", edit_driver_path(@driver), method: :get %>
  </div>
  <div class="button-collect">
    <%= button_to "Delete Driver", driver_path(@driver), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</div>