<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style>
      html, body {
          margin: 0;
          padding: 10px;
      }

      thead:nth-child(odd){background-color: black;}
      tr:nth-child(even) {background-color: #c8a2c8;}
      table, th, td {
          border: 3px solid purple;
          padding: 10px;
          margin: 20px;
      }
      thead {
          color: white;
      }
      
      a {
          color: rebeccapurple;
      }
  </style>
</head>
<body>
<a href="/homepages">Home</a> | <a href="/passengers">Passenger Page</a> | <a href="/drivers">Driver Page</a>
<h2>Driver: <%= @driver[:name] %></h2>
<h3>Vin: <%= @driver[:vin] %></h3>
<h3> Driver Id: <%=@driver[:id] %></h3>
<% if @driver[:available] == "true" %>
  <% availability = "yes" %>
  <% else %>
  <% availability = "no" %>
  <% end %>
<h4>Availability: <%= availability %></h4>
  <%= link_to @driver.available.nil? ? "Driver: Offline": "Driver: Online", {action: :available, id: @driver.id}, method: :patch %>
  <%= link_to "Delete Driver?", destroy_driver_path, method: :delete, data: {confirm: "Are you sure?"} %>
  <%= link_to "Edit Driver", edit_driver_path %>

<h4> <%= @driver[:name] %>'s average rating is
<%= @driver.average_rating %>. </h4>
<h4>
    Their trips totaled to $<%= @driver.total_money%> and they made $<%= @driver.after_fee %>.
</h4>
  <table>
    <thead>

    <tr>
      <th>Trip ID</th>
      <th>Trip Cost</th>
      <th>Trip Rating</th>
    </tr>
    </thead>
    <tbody>
    <% @driver.trips.each do |trip|%>
      <tr>
        <td><%= trip[:id] %></td>
        <td>$<%= trip[:cost] %></td>
        <td><%= trip[:rating] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </body>
