<h3>Driver Details</h3>
<br>
<h2><%= @driver.name %></h2>
<p>ID: <%= @driver.id %></p>
<p>VIN: <%= @driver.vin %></p>
<p>Status: <%= @driver.available ? "Available" : "Unavailable" %></p>

<br>

<%= button_to "Edit driver", edit_driver_path(@driver.id), method: :get %>
<%= button_to "Delete driver", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure you want to delete driver #{@driver.name}?" }%>

<h3>Trips</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Trip ID</th>
    <th>Rating</th>
    <th>Cost</th>
    <th>Date</th>
    <th>Passenger ID</th>
    <th>Driver ID</th>
  </tr>
  </thead>

  <tbody>
  <% @driver.trips each do |trip| %>
    <tr>
      <td><%= link_to "#{trip.id}", trip_path(trip.id) %></td>
      <td><%= link_to "#{trip.rating}", trip_path(trip.id) %></td>
      <td><%= link_to "#{trip.cost}", trip_path(trip.id) %></td>
      <td><%= link_to "#{trip.date}", trip_path(trip.id) %></td>
      <td><%= link_to "#{trip.passenger_id}", trip_path(trip.id) %></td>
      <td><%= link_to "#{trip.driver_id}", trip_path(trip.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>




