<h3>Driver Details</h3>
<br>
  <h2><%= @driver.name %></h2>
  <p><strong>ID: </strong><%= @driver.id %></p>
  <p><strong>VIN: </strong><%= @driver.vin %></p>
  <p><strong>Status: </strong><%= @driver.available ? "Available" : "Unavailable" %></p>
  <p><strong>Average Rating: </strong><%= @driver.avg_rating %> ★</p>
  <p><strong>Total Earnings: </strong>$<%= @driver.total_earnings %></p>
  <p><strong>Rides Given: </strong><%= @driver.trips.length %></p>

<br>

<%= button_to "Edit driver", edit_driver_path(@driver.id), method: :get %>
<%= button_to "Delete driver", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure you want to delete driver #{@driver.name}?" }%>

<br>
<strong><%= link_to "Trips for #{@driver.name}", driver_trips_path(@driver.id) %></strong>




