<h1>Driver Details</h1>
<br/>

<ul>
  <li><%= @driver.name %></li>
  <li><%= @driver.vin %></li>
  <li><%= @driver.available ? "available" : "not available" %> - <%= button_to "Change Status?",  { :action => "toggle_available" }, method: :patch %></li>
</ul>
<br/>

<h3>TRIPS</h3>
<p>TOTAL EARNED FROM ALL TRIPS: $<%= @driver.total_earnings %></p>
<p>NUMBER OF TRIPS DRIVEN: <%= @driver.trips.count %></p>
<p>AVERAGE RATING: <%= @driver.average_rating %></p>
<br/>

<%= button_to "#{@driver.name}'s Trips", driver_trips_path(@driver), method: :get %>
<%= button_to "Edit Driver", edit_driver_path(@driver), method: :get %>
<%= button_to "Delete Driver", driver_path(@driver), method: :delete, data: { confirm: "Are you sure?" } %>
<%= button_to "All Drivers", drivers_path, method: :get %>
<br/>