
<!--each driver data-->
<h1>All Drivers</h1>

<div>
  <h2>driver information</h2>
  <h3><%= @driver.name %></h3>
  <h3><%= @driver.vin %></h3>
  <h3><%= @driver.available ? "Available" : "Unavailable" %></h3>

  <%= link_to "Edit", edit_driver_path(@driver.id) %>
  <%= link_to "Delete", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure?"} %>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Trip ID</th>
      <th scope="col">passenger</th>
      <th scope="col">driver</th>
      <th scope="col">Cost</th>
      <th scope="col">Rating</th>
    </tr>
    </thead>
    <tbody>
    <% @driver.trips.each do |trip| %>
      <tr>
        <th scope="row"><%= link_to "#{trip.id}", trip_path(trip.id) %></th>
        <td><%= link_to "#{trip.passenger.name}", passenger_path(trip.passenger_id)%></td>
        <td><%= link_to "#{trip.driver.name}", driver_path(trip.driver_id)%></td>
        <td><%= trip.cost %></td>
        <td><%= trip.rating %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p>Average Rating:<%= @driver.average_rating %></p>
  <p>Total Earning:$<%=@driver.total_revenue %></p>
</div>