<h1>Driver Details</h1>
<br>
<ul>
  <li> Name: <%= @driver.name %> </li>
  <li> VIN: <%= @driver.vin %> </li>
  <li> Status: <%= @driver.available ? "Available" : "Unavailable" %></li>

  <li>
    Driver's Trips:
    <%= @driver.trips.map { |trip| trip.date} %>
  </li>


  <li> <%= link_to "Edit driver info", edit_driver_path(@driver) %></li>
  <li> <%= link_to "Delete driver from database", driver_path(@driver), method: :delete,
                   data: {confirm: 'Are you sure you would like to delete?'} %></li>
  <li> <%= link_to "Back to Driver List", drivers_path %></li>
</ul>
