<h2><%= @driver.name %></h2>

<div class="edit-delete">
  <p><%= link_to "Edit Driver", edit_driver_path(@driver.id) %></p>
  <p><%= link_to "Delete Driver", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure?"} %></p>
</div>


<div class="mini-title">
  <p>Average Rating: <%= @driver.average_rating %></p>
  <p>Total Earnings: $<%= sprintf("%.2f", @driver.total_earnings) %></p>
  <% if @driver.available %>
    <p>Current Status: Available</p>
  <% else %>
    <p>Current Status: Unavailable</p>
  <% end %>

  <p><%= @driver.name %>'s Trips</p>
</div>

<table>
  <tr>
    <th>Trip ID</th>
    <th>Date</th>
    <th>Driver</th>
    <th>Passenger</th>
    <th>Rating</th>
    <th>Cost</th>
  </tr>
  <% @driver.trips.each do |trip| %>
    <tr>
      <td><%= link_to "#{trip.id}", trip_path(trip.id) %></td>
      <td><%= trip.date %></td>
      <td><%= trip.driver.name %></td>
      <% if trip.passenger.nil? %>
        <td>DELETED</td>
      <% else %>
        <td><%= trip.passenger.name %></td>
      <% end %>
      <td><%= trip.rating %></td>
      <td>$<%= sprintf("%.2f", trip.cost) %></td>
    </tr>
  <% end %>
</table>
