<h2>Driver Details</h2>

<div><strong>Driver: <%= @driver.name %></strong>
  <p><strong>Vin: </strong><%= @driver.vin %></p>
  <p><strong>Availability:</strong> <% if @driver.available == true %>
      <%= "Available" %>
      <% else %>
    <%= "Not Available" %>
      <% end %>
      </p>
  <p><strong>Total Earnings:</strong> $<%= '%.2f' % (@driver.total_earnings.to_i/100.00).to_s %></p>
  <p><strong>Average Rating:</strong> <%= @driver.avg_rating %></p>

  <strong>Driver's Trips:</strong>
  <ol>
    <% @driver.trips.each do |trip| %>
    <li>Trip ID:<%= link_to trip.id, trip_path(trip.id) %>, Passenger: <%= link_to trip.passenger.name, passenger_path(trip.passenger.id) %>, Date: <%= trip.date %>, rating: <%= trip.rating %>, cost: $<%= trip.money %></li>
      <%end %>
  </ol>

</div>

  <p class="buttons"><%= link_to "Back to Drivers List", drivers_path %></p>
  <p class="buttons"><%= link_to "Edit Driver", edit_driver_path(@driver.id) %></p>
  <p class="buttons" id="delete"><%= link_to "Delete Driver", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure?"} %></p>