<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1>Madeline & Jessica Ride Share</h1>
    <nav>
        <ul>
        <li><%= link_to "Home Page", root_path %></li>
        <li><%= link_to "See all Passengers", passengers_path %></li>
        <li><%= link_to "See all Drivers", drivers_path %></li>
        <li><%= link_to "Add a Passenger", new_passenger_path %></li>
        <li><%= link_to "Add a Driver", new_driver_path %></li>
      </ul>

    </nav>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    copyright Madeline & Jessica 2020
  </footer>
</html>
