<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
  <nav class="nav">
    <ul class="main_nav">
      <li><%=  link_to "Home", homepage_path %></li>
      <li><%= link_to "Drivers", drivers_path%></li>
      <li><%= link_to "Passengers", passengers_path %></li>
    </ul>
  </nav>
    <%= yield %>
  <footer>
  &copy; Created by D&K Developers
  </footer>
  </body>
</html>
