<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav>
      <div>
        <%= link_to "Return Home", root_path %>
      </div>
      <div>
        <%= link_to "View Passengers", passengers_path %>
      </div>
      <div>
        <%= link_to "View Drivers", drivers_path %>
      </div>
    </nav>
  </header>
    <%= yield %>
  <footer>

    <%= button_to "Add New Passenger", new_passenger_path, method: :get, class: "btn btn-success" %>
    <%= button_to "Add New Driver", new_driver_path, method: :get, class: "btn btn-primary" %>
  </footer>
  </body>
</html>
