<!DOCTYPE html>
  <html>
    <head>
      <title>RideShareRails</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

  <body>
    <header>
      <div class="image-txt-container">
        <img src="/images/rideshare.png" alt="main" />
      <div class="image-txt-container">
    </header>
    <main>

      <h1 ><%= link_to "RIDESHARE", root_path %></h1>
      <div>
        <%= yield %>
      </div>
    </main>
    <footer>&copy Alice B. & Anna K. 2020</footer>
  </body>
</html>
