<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  <nav>
    <%= link_to "Passengers", passengers_path %> |
    <%= link_to "Drivers", drivers_path %> |
    <%= link_to "Trip", trips_path %> |
  </nav>
  </body>
</html>
