<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="image-txt-container">
      <img src="/images/rideshare.png" alt="main" />
      <h1>RIDE SHARE</h1>
    </div>
    <nav>
      <ul>
        <li><button class="show"><a href="<%= new_passenger_path %>">Add a passenger</a></button></li>
        <li><button class="show"><a href="<%= new_driver_path %>">Add  a driver</a></button></li>
        <li><button class="show"><a href="<%= passengers_path %>">Show passengers</a></button></li>
      </ul>
    </nav>
  </header>
    <main>
          <div>
             <%= yield %>
          </div>
    </main>
  <footer>&copy 2020</footer>
  </body>
</html>
