<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header><h1><%= link_to "RideShare on Rails", root_path %></h1>
      <nav> </nav>
    </header>
    <hr>
    <br>
    <%= yield %>
  </body>
</html>
