<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>

    <ul>
      <li><h1><%= link_to "Ride Share", root_path %></h1></li>
      <div class="navbar">
        <li><%= link_to "Drivers", drivers_path %></li>
        <ul>
          <li><%= link_to "Add New Driver", new_driver_path %></li>
        </ul>
      </div>
      <div class="navbar">
        <li><%= link_to "Passengers", passengers_path %></li>
        <ul>
          <li><%= link_to "Add New Passenger", new_passenger_path %></li>
        </ul>
      </div>
    </ul>

  </nav>

  <body>
    <%= yield %>
    <footer>
      <div id="footer">
        <h2>&#169; Kalki and Schanen 2020</h2>
      </div>
    </footer>
  </body>
</html>
