<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <main class="container">
    <header class="header">
      RideShare
    </header>

    <nav class="nav">
      <%= link_to "Home", root_path, class: "nav-list"%>
      <%= link_to "Drivers", drivers_path, class: "nav-list"%>
      <%= link_to "Add Driver", new_driver_path, class: "nav-list"%>
      <%= link_to "Passengers", passengers_path, class: "nav-list"%>
      <%= link_to "Add Passenger", new_passenger_path, class: "nav-list"%>
    </nav>

    <div class="content">
      <%= yield %>
    </div>

    <footer class="footer">
      Copyright © 2020 India & Jing. All Rights Reserved.
    </footer>

  </main>


  </body>
</html>
